
@media screen and (min-width:786px)
{
    .carte
    {
        margin-left: 20%;
        margin-right: 20%;
    }
}
.telephone:hover
{
    color: red;
}
.message
{
    margin: 0 3% 2%;
    text-align: justify;
    text-align-last: left;
}
.bouton{
    margin-left: 15%;
    width: 65%;
    box-sizing: border-box;
}
@media screen and (max-width:357px){
    .contact{
        white-space: nowrap;
    }
}